form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  text-align: center;
  margin-top: 15%;
}

mat-form-field {
  margin: 20px;
  font-size: medium;
}
h3 {
  font-size: 30px;
}
